/* --------------------------------------- Variables --------------------------------------- */
:root {
	/* Header height */
	--header-height: 4rem;

	/* Colors */
	--primary-color: #091540;
	--secondary-color: #6a7fdb;
	--body-color: #1a1a1a;
	--white-color: #f9f8fe;
	--lightgrey-color: #eff0f7;

	/* Font family */
	--body-font: "Nunito", sans-serif;

	/* Font sizes */
	--big-font-size: 3rem;
	--h1-font-size: 2rem;
	--h2-font-size: 1.5rem;
	--h3-font-size: 1.25rem;
	--normal-font-size: 1rem;
	--small-font-size: 0.938rem;
	--smaller-font-size: 0.813rem;
}

/* Font sizes for larger devices */
@media screen and (min-width: 968px) {
	:root {
		--big-font-size: 4rem;
		--h1-font-size: 3rem;
		--h2-font-size: 2rem;
		--h3-font-size: 1.5rem;
		--normal-font-size: 1.25rem;
		--small-font-size: 1rem;
		--smaller-font-size: 0.938rem;
	}
}

/* --------------------------------------- Global changes --------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
}

body {
	font-family: var(--body-font);
	color: var(--body-color);
	background-color: var(--white-color);
	font-size: var(--normal-font-size);
}

h1,
h2,
h3 {
	color: var(--primary-color);
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

section {
	width: 100%;
	height: calc(100vh - var(--header-height));
}
